* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}
:root {
  --Background: #262342;
  --Text: #e3e3e3;
  --Btn-hover: #31e1a5;
}

body {
  background-color: var(--Background);
  color: var(--Text);
  height: 100vh;
  width: 100vw;
  font-family: 'Roboto', sans-serif;
}

a, .search-button, .btn {
  color: var(--Text);
  text-decoration: none;
  cursor: pointer;
}

ul {
  display: flex;
  flex-direction: rows;
  justify-content: center;
  list-style: none;
  gap: 1vw;

}

.nav-container {
  padding-top: 1%;
  margin:auto;
  width: 65%;
  display: flex;
  flex-direction: columns;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

#items-container {
  margin: auto;
  position: relative;
  width: 65%;
  padding-top: 2%;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  gap: 2vw;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.title-container {
  width: 175px;
  height: 40px;
  display: flex;
  align-items: center;
}

.favorite-icon {
  cursor: pointer;
  color: gold;
  position: absolute;
  right: 0px;
}

.item-image {
  width: 175px;
  height: 240px;
  border-radius: 2%;
  transition: transform 0.25s ease-in-out;
}

.item-image:hover {
  transform: scale(1.1);
}

.item-title {
  margin-top: 5px;
  color: var(--Text);
}

.item-card {
  display: block;
  width: 175px;
  min-height: 240px;
  position: relative;
  overflow: hidden;
  cursor: pointer;

}

.search-button,
.pagination-btn,
.user {
  color: var(--Text);
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  transition: transform 0.25s ease-in-out;
}

.item-rating {
  color: var(--Btn-hover);
}

#pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 2%;

}

a,
.user,
.search-button,
.pagination-btn {
  margin: auto;
  text-decoration: none;
  cursor: pointer;
  transition: 1s color;
}

a:hover,
.user:hover,
.pagination-btn:hover {
  color: var(--Btn-hover);
}