/* ------------
!!! General !!!
--------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --Background: #262342;
  --Text: #e3e3e3;
  --Btn-hover: #31e1a5;
}
/* flex */
body,
.nav-container,
ul,
nav {
  display: flex;
}

/* ------------
!!! Style !!!
--------------- */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  background-color: var(--Background);
  color: var(--Text);
  flex-direction: column;
}
ul,
#searchBar,
.nav-container {
  margin-inline: 20px;
}

/* text sise */
button,
li {
  font-size: 20px;
}
/* Text color */
body,
a,
.user,
.search-button,
.pagination-btn {
  color: var(--Text);
}
/* ------------
!!! Button !!!
--------------- */
.nav-menu,
.user,
.search-button,
.pagination-btn {
  background: none;
  border: none;
  padding-inline: 10px;
  margin-top: 20px;
}
a,
.user,
.search-button,
.pagination-btn {
  text-decoration: none;
  cursor: pointer;
  transition: 1s color;
}
.search-button {
  direction: none;
}
#pagination {
  margin-bottom: 50px;
  position: absolute;
  bottom: 0;
}
/* ------------
!!! Hover !!!
--------------- */
a:hover,
.user:hover,
.pagination-btn:hover {
  color: var(--Btn-hover);
}
/* ------------
!!! Header !!!
--------------- */
header,
ul,
nav,
.user {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
input {
  border-radius: 5px;
  padding: 2px;
  border: none;
}
/* ------------
!!! Items !!!
--------------- */
#items-container {
  max-width: 100%;
  padding-top: 100px;
  padding-left: 50px;
  padding-right: 50px;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  gap: 1vw;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.title-container {
  display: flex;
  align-items: center;
}

.favorite-icon {
  margin-left: 10px;
  cursor: pointer;
  color: gold;
}

.nav-container {
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
}
