* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}
:root {
  --Background: #1B1E2B;
  --Text: #e3e3e3;
  --Btn-hover: #03c685;
}

body {
  background-color: var(--Background);
  color: var(--Text);
  height: 100vh;
  width: 100vw;
  font-family: 'Roboto', sans-serif;
}

a, .search-button, .btn {
  color: var(--Text);
  text-decoration: none;
  cursor: pointer;
}

.main-container {
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.nav-container {
  min-width: 100%;
  display: flex;
  flex-direction: row; 
  justify-content: space-between;
  overflow: hidden;
}

.nav-container ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 1vw;
}

#items-container {
  margin: auto;
  width: 100%;
  position: relative;
  padding-top: 2%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
  gap: 1vw;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.title-container {
  width: 175px;
  height: 40px;
  display: flex;
  align-items: center;
}


.welcome {
  display: flex;
  margin-top: 15px;  
  justify-content: center;
  font-size: 1.1rem;
  font-weight: bold;
  color: var(--Btn-hover);
}

.favorite-icon {
  cursor: pointer;
  color: gold;
  position: absolute;
  right: 0px;
}

.item-image {
  width: 175px;
  height: 220px;
  border-radius: 2%;
  transition: transform 0.25s ease-in-out;
}

.item-image:hover {
  transform: scale(1.1);
}

.item-title {
  margin-top: 5px;
  color: var(--Text);
}

.item-card {
  display: block;
  width: 175px;
  min-height: 220px;
  position: relative;
  overflow: hidden;
  cursor: pointer;

}

.user-container {
  display: flex;
  gap: 1vw;
}

.search-button,
.pagination-btn,
.user {
  color: var(--Text);
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  transition: transform 0.25s ease-in-out;
}

.item-rating {
  color: var(--Btn-hover);
}

#pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 2%;

}

a,
.user,
.search-button,
.pagination-btn {
  margin: auto;
  text-decoration: none;
  cursor: pointer;
  transition: 1s color;
}

a:hover,
.user:hover,
.pagination-btn:hover {
  color: var(--Btn-hover);
}

.search-container {
  display: flex;
  gap: 0.5vw;
}

.search-input {
  width: 10vw;
  font: 1.05rem 'Roboto', sans-serif;
  height: 2.5vh;
  border-radius: 5px;
  border: 2px solid var(--Btn-hover);
  background-color: var(--Background);
  color: var(--Btn-hover)

}

.search-input:focus {
  outline: none;
}

.search-button {
  font: 1.05rem 'Roboto', sans-serif;
  border-radius: 5px;
  background-color: var(--Background);
  color: var(--Btn-hover);
  width: 3vw;
  transition: scale 0.2s ease-in-out;
}

.search-button:hover {
  transform: scale(1.05);
}

#items-container.details-view {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
}

#items-container.details-view .details-image {
    grid-column: 1;
    grid-row: 1 / span 4; 
    width: 100%;
    height: auto;
}

#items-container.details-view .details-title {
    grid-column: 2;
    grid-row: 1;
}

#items-container.details-view .details-summary {
    grid-column: 2;
    grid-row: 2;
}

#items-container.details-view .details-rating {
    grid-column: 2;
    grid-row: 3;
}

#items-container.details-view .details-tvmaze-link {
    grid-column: 2;
    grid-row: 4;
}

.details-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: var(--Btn-hover)
}

.details-summary {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: var(--Text)
}

.details-rating {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: var(--Btn-hover)
}

.details-tvmaze-link {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: var(--Btn-hover);
}

span {
  font-size: 1.2rem;
  text-decoration: underline;
}

/* Media queries under construction! */